body {
  background-color: #1abc9c !important;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}


/*.container-fluid {
    padding-top: 20px;
    padding-bottom: 40px;

}*/

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #2f2f2f;
    color: #ffffff;
    height: 150px;
}

.thumbnail p {
    margin-top: 15px;
    color: white;
}
.thumbnail h3 {
    margin-top: 15px;
    color: white;
}
.thumbnail{
  background-color: #2f2f2f !important;
  margin-left: 20px;

}

/*.left-margin{
  margin-left: 40px;
}*/
@media screen and (max-width: 768px) {
    .thumbnail {
        margin: 0;
    }
}


.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
  color: white;
  border-bottom: solid grey 1px;
  padding: 5px;
  list-style-type: none;
}
ul{
  padding: 0;
  margin: 0;
}

li:hover {
  background-color: #000 !important;
}
button{
  background-color: #000 !important;
}
button:hover{
  background-color: white !important;
  color: #000 !important;
}

label{
  color: black !important;
}
.modal-header{
  color: black !important;
}

.black{
  color: black;
}

h4{
  color: darkgreen !important;
}
