<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/main.css'%}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container bg-1">
    <h1 class="text-center">MY BLOG</h1>
    <h2 class="text-center">Dashboard</h2>
    <br><br>
    <div class="row">
      <div class="col-sm-7">
        <div class="row">
          <div class="thumbnail shadow">
            <h1>Login</h1>
            {% if messages %}
             <div class="errors">
                 {% for message in messages %}
                 <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
                 {% endfor %}
             </div>
            {% endif %}
            <form action="{% url 'login_process' %}" method='post'>
              {% csrf_token %}
              Username <input class="black"  type="text" name="username">
              Password <input class="black"  type="password" name="password">
              <input type="submit" value="Login" class="black" >
            </form>
            <br>
            <a href="{% url 'index'%}">Back</a>
          </div>
          <div class="thumbnail shadow">
            <h1>Register</h1>
            {% if messages %}
             <div class="errors">
                 {% for message in messages %}
                 <h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
                 {% endfor %}
             </div>
             {% endif %}
             <form action="{% url 'register_process' %}" method='post'>
               {% csrf_token %}
               Username <input class="black"  type="text" name="username">
               Password <input class="black"  type="password" name="password">
               Confirm Password <input class="black"  type="password" name="repeat">
               <input type="submit" value="Register" class="black" >
             </form>
             <br>
             <a href="{% url 'index'%}">Back</a>
           </div>
        </div>
      </div>


      <div class="col-sm-4 left-margin">
        <div class="row">
          <div class="thumbnail">
            <h3>Navigation</h3>
            <a href="{% url 'main'%}">Main</a>
            {% if request.session.user %}
                {% if not user.id == request.session.user%}
                  - <a href="{% url 'show' user_id=request.session.user%}">My page</a>
                {%endif%}
                - <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                - <a href="{% url 'login'%}">Login/Register</a>
            {%endif%}
          </div>
        </div>


        <div class="row">
          <div class="thumbnail">
            <h2>Users:</h2>
            <table>
               <thead>
                  <tr>
                    <th>Id</th>
          					<th>Username</th>
                    <!-- <th>Max Likes</th> -->
                    <th>Number of posts</th>
                    <th>Total Likes</th>
                  </tr>
               </thead>
               <tbody>
                 {%  for user in users %}
                    <tr>
                        <th>{{user.id}}</th>
                        <th><a href="{% url 'user' user_id=user.id%}">{{user.username}}</a></th>
                        {% for x in num_post %}
                          {% if user.id == x.user_id %}
                            <th>{{ x.count }}</th>
                          {% endif %}
                        {% endfor %}
                        {% for x in num_like %}
                          {% if user.id == x.post_id__user_id %}
                            <th>{{ x.count }}</th>
                          {% endif %}
                        {% endfor %}
                    </tr>
                  {% endfor %}
               </tbody>
            </table>
          </div>
        </div>



        <div class="row">
          <div class="thumbnail">
            <h3>Author's Most Popular Posts</h3>
            <ul class="">
                <li><a href="#">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src='{% static "blog/images/bird.jpg"%}'  class="img-responsive" style="width:100%" alt="bird">
                    </div>
                    <div class="col-sm-2">
                      <p>Mingsum</p><br>
                    </div>
                  </div>
                </a></li>
                <li><a href="#">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src='{% static "blog/images/bird.jpg"%}'  class="img-responsive" style="width:100%" alt="bird">
                    </div>
                    <div class="col-sm-2">
                      <p>Mingsum</p><br>
                    </div>
                  </div>
                </a></li>
                <li><a href="#">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src='{% static "blog/images/bird.jpg"%}'  class="img-responsive" style="width:100%" alt="bird">
                    </div>
                    <div class="col-sm-2">
                      <p>Mingsum</p><br>
                    </div>
                  </div>
                </a></li>
                <li><a href="#">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src='{% static "blog/images/bird.jpg"%}'  class="img-responsive" style="width:100%" alt="bird">
                    </div>
                    <div class="col-sm-2">
                      <p>Mingsum</p><br>
                    </div>
                  </div>
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="container-fluid bg-2 text-center">
    <br><br><br>
    <p>Site by <a href="#">Tetiana Nesterchuk</a></p>
  </footer>

</body>
</html>
