<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/main.css'%}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container bg-1">
    <h1 class="text-center">MY BLOG</h1>
    <h2 class="text-center">Search Page</h2>
    <br><br>
    <div class="row">
      <div class="col-sm-7">
        <div class="row">
          <div class="thumbnail shadow">
            <form type="get" action="{% url 'search'%}" >
              <select name="by" required>
                <option placeholder>Search by...</option>
                <option value="title">Post Title</option>
                <option value="post">Post</option>
                <option value="username">Username</option>
              </select>
              <input  class="black" type="text" name="search"  placeholder="Search..." >
              <button type="submit" >Submit</button>
            </form>
            <br>
            {% if result %}
              {%  for post in result %}
                <li><a href="{% url 'post' post_id=post.id %}"><div class="row">
                  <div class="col-sm-3">
                    {% if post.image.url != None %}
                      <img src='{{post.image.url}}' class="img-responsive" style="width:100%" alt="post_picture">
                    {% else %}
                      <img src='/media/post/no.png' class="img-responsive" style="width:100%" alt="post_picture">
                    {% endif %}
                    <p class="green">{{post.user_id.username}}</p>
                  </div>
                  <div class="col-sm-3">
                    <h4 class="green">{{post.title}}</h4>
                    <p>{{post.created_at}}</p>
                  </div>
                  <div class="col-sm-4">
                    {% if post.post|length > 100 %}
                      <p>{{post.post|slice:":100"}}...</p>
                    {% else %}
                      <p>{{post.post}}</p>
                    {% endif %}
                  </div>
                  <div class="col-sm-2">
                    {% for likes in count %}
                      {% if likes.post_id == post.id %}
                        <p>Likes: {{likes.count}}</p>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div></a></li>
              {% endfor %}
            {%endif%}
          </div>
        </div>
      </div>
      <div class="col-sm-4 left-margin">
        <div class="row">
          <div class="thumbnail">
            <h3>Navigation</h3>
            <a href="{% url 'main'%}">Main</a>
            {% if request.session.user %}
                {% if not user.id == request.session.user%}
                  - <a href="{% url 'user' user_id=request.session.user%}">My page</a>
                {%endif%}
                - <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                - <a href="{% url 'login'%}">Login/Register</a>
            {%endif%}
          </div>
        </div>

        <div class="row">
          <div class="thumbnail">
            <h3>Random Users:</h3>
            <table class="table-bordered table-responsive">
               <thead>
                  <tr>
                    <th>Username</th>
                    <th>Number of posts</th>
                    <th>Total Likes</th>
                  </tr>
               </thead>
               <tbody>
                 {%  for user in users %}
                    <tr>
                        <th><a href="{% url 'user' user_id=user.id%}">{{user.username}}</a></th>
                        {% for x in num_post %}
                          {% if user.id == x.user_id %}
                            <th>{{ x.count }}</th>
                          {% endif %}
                        {% endfor %}
                        {% for x in num_like %}
                          {% if user.id == x.post_id__user_id %}
                            <th>{{ x.count }}</th>
                          {% endif %}
                        {% endfor %}
                    </tr>
                  {% endfor %}
               </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="thumbnail">
            <h3>Posts you liked:</h3>
            {% if user_liked %}
              <ul class="">
                    {% for like in user_liked%}
                      <li><a href="{% url 'post' post_id=like.post_id.id%}">
                        <div class="row">
                          <div class="col-sm-5">
                            <img src='/media/{{like.post_id.image}}'  class="img-responsive" style="width:100%" alt="image">
                            <p class="green">{{like.post_id.user_id.username}}</p>
                          </div>
                          <div class="col-sm-7">
                            <div class="row">
                                <h4 class="green">{{like.post_id.title}}</h4>
                            </div>
                            <div class="row">
                              <p>{{like.post_id.created_at}}</p>
                            </div>
                          </div>
                        </div>
                      </a></li>
                  {% endfor %}
              </ul>
            {% else %}
              <p>You have no liked posts</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    </div>


    <footer class="container-fluid bg-2 text-center">
    <br><br><br>
    <p>Site by <a href="#">Tetiana Nesterchuk</a></p>
    </footer>


</body>
</html>
